{% load static %}
<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="{% static 'recurrence/css/recurrence.css' %}">
<script src="{% static "recurrence/js/recurrence.js" %}"></script>
<script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail View</title>
</head>
<body>
{% block body %}
    <h1>DETAIL VIEW</h1>
    <h2>
    {{ course.prefix }}
    {{ course.number }}-
    {{ course.section }}
    {{ course.term }}
    {{ course.year }}<br>
    </h2>
    {% if course.meeting_times %}
        {% for meetingtime in course.meeting_times.all %}
            <p>
            {{ meetingtime.type }}<br>
            {{ meetingtime.start }} -
            {{ meetingtime.end }}<br>
            {{ meetingtime.recurrence.choices.0 }}
    {#        {{ meetingtime.recurrence.rrules.0.byday }} current meeting time's first rrule's days #}
           {% for rule in meetingtime.recurrence.rrules %} {# all rrules for the current meeting time #}
               {% if rule.byday %}
                   {{ rule.byday }}
               {% endif %}
            {% endfor %}
            {% for date in meetingtime.recurrence.rdates %} {# rdates for one-off meeting times #}
                {{ date.date }}
            {% endfor %}
            </p>
        {% endfor %}
    {% endif %}
    <div><a href="{% url "RecurrenceDemo:course_update" course.id %}">Edit Course</a></div><br><br><br>
    <br><br>
    <div><a href="{% url "RecurrenceDemo:course_list" %}">Course List</a></div>
{% endblock %}
</body>
</html>
