{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <script src="{% static "recurrence/js/recurrence.js" %}"></script>
    <script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
</head>
<body>

<div>
    <h2>Course Update - Meeting Time Inline Formset</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div>
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        Update course
                    </div>
                    <div class="card-body">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </form>
    <br>
    <div><a href="{% url "RecurrenceDemo:course_list" %}">Back to Course List</a></div>
    <div><a href="{% url "RecurrenceDemo:detail" course.id %}">Back to Course Detail</a></div>
</div>
</body>
</html>